#pesquisa {
  padding-right:18rem;
  font-family: fantasy;
}

@media (max-width: 1024px) {
  #pesquisa {
    padding: 1.2rem;
  }
}

form .botao-nav {
  border-radius: 0px 6px 6px 0px;
  color: black;
}

form .form-control {
  border-radius: 8px 0px 0px 8px;
}

nav .navbar {
  background-color: red;
}

.navbar img {
  width: 16vw;
}
